src/config/CommonTemplates/*.bin
src/config/CommonTemplates/**/*.bin
src/config/CommonTemplates/**/Ext/Template.xml
src/config/DataProcessors/**/Templates/**/Ext/Template.xml
src/config/Documents/**/Templates/**/Ext/Template.xml
src/config/ExternalDataSources/*.xml