config/CommonTemplates/*.bin
config/CommonTemplates/**/*.bin
config/CommonTemplates/**/Template.xml
config/DataProcessors/**/Template.xml
config/Documents/**/Template.xml
config/ExternalDataSources/*.xml
